# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# =========================
# Environment files
# =========================
.env
.env.*.local

# =========================
# Cypress
# =========================
cypress/screenshots/
cypress/videos/
cypress/downloads/

# =========================
# VSCode
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# =========================
# System / OS files
# =========================
.DS_Store
Thumbs.db